<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
</head>

<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
    <table class="m_3198505965009804133main" align="center" style="border-collapse:collapse;margin:0 auto;text-align:left;width:660px">
        <tbody>
            <tr>
                <td class="m_3198505965009804133header" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;background-color:#f5f5f5;padding:25px">
                    <!--<a href="" style="color:#006bb4;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://Test.az/&amp;source=gmail&amp;ust=1656847267240000&amp;usg=AOvVaw3bw1ZWyxB-ebqAPZesgC-x">
                        <img width="180" src="https://ci4.googleusercontent.com/proxy/Q507bKDqQuGU1HN0amfWbjDtPAVUYMMeEfcCRqBNhJu27WzS0Dc-swhSJHXdbYOgzFmR-98glr-6D6VF83sakNB4kQuVTqoF8xSpSmKZRVp-1g=s0-d-e1-ft#https://Test.az/media/email/logo/stores/2/Test_logo_1.png" alt="Test Home" border="0" style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none" class="CToWUd">
                    </a>-->
                </td>
            </tr>
            <tr>
                <td class="m_3198505965009804133main-content" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;background-color:#fff;padding:25px">

                    <p style="margin-top:0;margin-bottom:10px"><i style="font-style:italic"> Hörmətli {name} {surname},</i></p>
                    <p style="margin-top:0;margin-bottom:10px"><i style="font-style:italic">Artıq siz də Test ailəsinin bir üzvüsünüz! Alış-verişə başlamaq üçün cəmi bircə addım qalıb.</i></p>
                    <p style="margin-top:0;margin-bottom:10px">
                        <i style="font-style:italic">Saytımıza daxil olmaq və hesabı aktivləşdirmək üçün <a href="{link}" style="color:#006bb4;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://Test.az/api/registration?email%3Dsexavet.redmi@gmail.com%26token%3D2pBjoILrwHZ5KjYwRZD84nda8bvv68Qm&amp;source=gmail&amp;ust=1656847267240000&amp;usg=AOvVaw1xdPYy0LGz6R09hnm8ml_y">klikləyin</a>.</i>
                    </p>
                    <p style="margin-top:0;margin-bottom:10px"><i style="font-style:italic">Elektron poçt: <a href="mailto:{email}" target="_blank">{email}</a></i></p>
                    <br>
                    <p style="margin-top:0;margin-bottom:10px"><i style="font-style:italic">Hesabınız sizə hansı üstünlükləri verir?</i></p>
                    <ul style="margin-top:0;margin-bottom:25px">
                        <li style="margin-top:0;margin-bottom:10px">Daha asan sifariş edin;</li>
                        <li style="margin-top:0;margin-bottom:10px">Sifarişlərin statusunu yoxlayın;</li>
                        <li style="margin-top:0;margin-bottom:10px">Sifariş tarixçənizi izləyin;</li>
                        <li style="margin-top:0;margin-bottom:10px">Müxtəlif ünvanları yaddaşda saxlayın, ailə üzvləriniz və dostlarınız üçün də çatdırılma sifariş edin.</li>
                    </ul>
                    <p style="margin-top:0;margin-bottom:10px"><i style="font-style:italic"> alış-veriş başlasın!</i></p><font color="#888888">

                    </font>
                </td>
            </tr>
            <tr>
                <td class="m_3198505965009804133footer" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;background-color:#f5f5f5;padding:25px">
                    <table style="border-collapse:collapse;width:100%">
                        <tbody>
                            <tr>
                                <td style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;padding-bottom:25px;width:33%">
                                </td>
                                <td style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;padding-bottom:25px;width:33%">
                                </td>
                                <td style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;padding-bottom:25px;width:33%">
                                    <p style="margin-top:0;margin-bottom:0">
                                        Test<br>
                                        <br>
                                        <br>

                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>