
@model UserImgUpdateVM
<div class="modal-contents">
    
    <div class="styles_title">
        <div class="styles_leftSide col-lg-9 col-sm-6 col-md-6 col-12">
            <svg class="styles_headerIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23"><path fill="#c1c1c1" d="M16.27 7.745a4.649 4.649 0 1 1-9.297 0 4.649 4.649 0 0 1 9.297 0zm2.325 0a6.973 6.973 0 1 0-13.946 0 6.973 6.973 0 0 0 13.946 0z"></path><path fill="#c1c1c1" d="M2.731 22.26a9.297 9.297 0 0 1 17.781 0h2.731A11.924 11.924 0 0 0 0 22.26z"></path></svg>
            <h4 class="styles_leftText">Hesab şəklini dəyişmək</h4>
        </div>
        <div class="styles_rightSide col-lg-3 col-sm-6 col-md-6 col-12 justify-content-between">
            <button type="submit" form="postimg" class="styles_rightSide-btn-save ">
                <span class="styles_rightSide-btn-save-text ">Yadda saxla</span>
            </button>
            <button class="styles_rightSide-btn-close rightSide-btn-close">
                <span class="styles_rightSide-btn-save-text">Bağlamaq</span>
            </button>

        </div>
    </div>
    <div class="styles_body">

        <div class="user-image-box">

            @if (Model.Image != null)
            {
                <img class="user-img" src="~/User/assets/img/userimg/@Model.Image" alt="Alternate Text" />
                <img class="user-img-has d-none" src="~/User/assets/img/userimg/@Model.Image" alt="Alternate Text" />
            }
            else
            {
                <img class="user-img" src="~/User/assets/img/userimg/Avatar-Profile-PNG.png" alt="Alternate Text" />
                <img class="user-img-has d-none" src="~/User/assets/img/userimg//icone-utilisateur-rouge.png" alt="Alternate Text" />
            }

        </div>
        <div class="styles_uploadFile">
            <div class="styles_uploadFile-left">
                <div class="styles_hint">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="27" viewBox="0 0 33 27"><path fill="#020202" d="M21.085 9.366a1.636 1.636 0 1 1-3.272 0 1.636 1.636 0 0 1 3.272 0zm2.24 0a3.876 3.876 0 1 0-3.876 3.876 3.899 3.899 0 0 0 3.876-3.876z"></path><path fill="#020202" d="M27.695 24.76h-22.9a2.577 2.577 0 0 1-2.554-2.555v-2.711l5.825-3.45a2.465 2.465 0 0 1 2.6 0l5.444 3.27c.747.44 1.598.672 2.465.673a4.705 4.705 0 0 0 2.375-.628l9.299-5.31v8.156a2.577 2.577 0 0 1-2.554 2.554zM4.795 2.24h22.9a2.554 2.554 0 0 1 2.554 2.555v6.722L19.852 17.41a2.53 2.53 0 0 1-2.576 0l-5.445-3.294a4.773 4.773 0 0 0-4.907 0L2.24 16.872V4.795a2.554 2.554 0 0 1 2.554-2.554zM27.695 0h-22.9A4.795 4.795 0 0 0 0 4.795v17.41A4.795 4.795 0 0 0 4.795 27h22.9a4.795 4.795 0 0 0 4.795-4.795V4.795A4.795 4.795 0 0 0 27.695 0z"></path></svg>
                    <div class="styles_hintText">
                        <h6 class="styles_hintHead">Şəkil əlavə etmək:</h6>
                        <p class="styles_hintParagraph">ancaq .jpg, .png formatda həcmi 500 kb gədər olan şəkil</p>
                    </div>
                </div>

            </div>
            <label class="styles_uploadButton">
                <form id="postimg" asp-controller="account" asp-action="AccountImgUpdate" method="post" enctype="multipart/form-data">
                    <input asp-for="ImageFile" class="img-input">
                </form>
                    
                
                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18"><path d="M16.2 15.78a.16.16 0 0 1-.17.13H3.61a.16.16 0 0 1-.16-.13L2.03 7.1a.16.16 0 0 1 0-.13.14.14 0 0 1 .16-.06h15.27a.14.14 0 0 1 .12.06.16.16 0 0 1 0 .13zM6.41 1.91l1.71 1.71a1 1 0 0 0 .71.29h7v1h-12v-3zm12.7 3.76a2.18 2.18 0 0 0-1.28-.76v-2a1 1 0 0 0-1-1H9.24L7.53.2a1 1 0 0 0-.7-.29h-4a1 1 0 0 0-1 1v4a2.17 2.17 0 0 0-1.29.72 2.17 2.17 0 0 0-.51 1.79l1.42 8.68a2.15 2.15 0 0 0 2.16 1.81h12.42a2.15 2.15 0 0 0 2.13-1.81l1.42-8.68a2.17 2.17 0 0 0-.47-1.75z"></path></svg>
                <span class="styles_uploadText">Seçmək фото</span>
            </label>
        </div>
        @if (Model.Image != null)
        {
            <button type="button" class="styles_deletePhotoButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27"><path fill="#c1c1c1" d="M18.409 24.545h-13.5V7.364h13.5zM8.59 2.86a.835.835 0 0 1 .098-.405h5.94c.066.124.1.263.098.405v2.049H8.591zm13.5 2.049h-4.91v-2.05A2.65 2.65 0 0 0 14.728 0H8.591a2.65 2.65 0 0 0-2.455 2.86v2.049H1.227a1.227 1.227 0 1 0 0 2.455h1.228v17.304A2.369 2.369 0 0 0 4.909 27h13.5a2.455 2.455 0 0 0 2.454-2.381V7.364h1.228a1.227 1.227 0 1 0 0-2.455z"></path></svg>
                <span class="styles_button-text">Şəkli sil</span>
            </button>
        }
        

    </div>

</div>