

<div class="signIn-form">
    <div class="text-danger login-validation-summary"></div>
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <form method="post" asp-controller="account" asp-action="ProfilUpdate">
        <div class="styles_inputComponent">
            <div class="styles_inputBlock">
                <div class="styles_inputWrapper">
                    <div class="styles_inputInner">
                        <input id="Email" list="" placeholder="Email" type="email" class="styles_input login-input" autocomplete="off" value="">
                    </div>
                </div>
            </div>
        </div>
        
        <button  class="next-btn-style next-btn-reset-send active" type="submit">
            <span class="next-btn-text">Davam Et</span>
        </button>
    </form>
</div>

