@model List<Category>

@if (Model.Count() > 0)
{
    <div class="sidebar main-sidebar active">
        <div class="sidebar-inner">
            <ul class="main-category">
                @foreach (Category category in Model)
                {
                    <li class="main-category-item ">
                        <a data-id="@category.Id" asp-controller="Category" asp-action="GetSubCategory" asp-route-id="@category.Id" class="main-ctg-btn  main-category-item-btn">
                            <div class="main-category-item-img">
                                <img src="~/user/assets/img/MainCtgImg/@category.ImageUrl" alt="">
                            </div>
                            <span class="main-category-item-text">@category.Name</span>
                            <i class=" main-category-item-icon fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

