

@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    int count = (ViewBag.PageIndex - 1) * 5;


}
<div class="row justify-content-between align-items-center">
    <div class="col-lg-2 h3 mb-4 text-gray-800">
        <h1>Orders</h1>
    </div>

    
</div>

<div class="d-flex align-items-center text-center mb-2">
    <div class="col-lg-3">
        <label>Search by Order Id</label>
        <input type="text" class="inpName form-control mx-2 inpVal" name="name" value="" placeholder="Search by Brand  name" />
        <a hidden asp-controller="Order" data-status="@ViewBag.Status" asp-action="PageChange" class="SearchBtn">content</a>
    </div>
    <div class="col-lg-3">
        <label>Search by Customer name</label>
        <input type="text" class="UserName form-control mx-2 inpVal" name="name" value="" placeholder="Search by Customer name" />
        
    </div>

    <div class="col-lg-3 text-gray-800 ">
        <label>Select by  Delete status</label>
        <select class="form-control Status StatusChange" name="status">
            <option selected>All</option>
            <option value="false">Active</option>
            <option value="true">Deleted</option>
        </select>
    </div>
</div>
<div class="row  box-list   TableList p-2" >
    @await Html.PartialAsync("_OrderIndexPartial", Model)
</div>
<div class="content-edit">

</div>



@section Script{
    <script src="~/admin/assets/dist/js/sweetalert2.all.min.js"></script>
    @*<script src="~/admin/assets/dist/js/Custom.js" asp-append-version="true"></script>*@
    <script src="~/admin/assets/dist/js/Pagination.js" asp-append-version="true"></script>
    <script>

    </script>
}

@section Style{
    <link href="~/Admin/assets/dist/css/Order.css" rel="stylesheet" />
    <link href="~/admin/assets/dist/css/sweetalert2.min.css" rel="stylesheet" />
}








