@model Brand
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Create Brand</h1>
    </div>
</div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
           <div>
                <label asp-for="BrandImageFile"></label>
                <input class="form-control" accept="image/*" asp-for="BrandImageFile" placeholder="Enter MainImage">
                <span class="text-danger" asp-validation-for="BrandImageFile"></span>
            </div>

          
            <button type="submit" class="btn btn-primary mt-5">Create</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="Index">Go To List</a>
    </div>
</div>

@section Script{
    <partial name="_ValidationFormScriptPartial">
}
