@model MemberProfileVM
@{
    ViewData["Title"] = "Profile";
    int viewCount = 0;
}

<section id="User-profile">
    <div class="container">
        <div class="user-all">
            <div class="all">
                <div class="left">
                    @if (@Model.Member.UserImage == null)
                    {
                        <div class="profile-img">
                            <img src="~/assets/images/agent.png" alt="">
                        </div>
                    }
                    else
                    {
                        <div class="profile-img">
                            <img src="~/assets/images/@Model.Member.UserImage" alt="">
                        </div>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Market"))
                    {
                        <div class="other-details-user d-flex justify-content-between align-items-center">
                            <span>Baxış sayı</span>
                            <span class="seem-count">106</span>
                        </div>
                    }

                    <div class="other-details-user d-flex justify-content-between align-items-center">
                        <a style="color: #333;" asp-controller="account" asp-action="logout">Çıxış</a>
                    </div>
                </div>
                <div class="right">
                    <div class="edit-details">
                        @await Html.PartialAsync("_ProfileFormPartial", Model.Member)
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
