@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}



<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form method="post" class="w-100">
                <div class="form-group w-100">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control w-100" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
    </div>
</div>


