

@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between align-items-center" >
    <div class="col-lg-2 h3 mb-4 text-gray-800">
        <h1>Brands</h1>
    </div>

    <div class="col-lg-2 h3 mb-4 text-gray-800">
        <a asp-controller="Brand" asp-action="Create" asp-area="admin" asp-route-page="@ViewBag.PageIndex" asp-route-status="@ViewBag.Status" class="btn btn-success " style="color:white">Create new Brand</a>
    </div>
</div>

<div class="d-flex align-items-center text-center mb-2">
    <div class="col-lg-3">
        <label>Search by Brand Name</label>
        <input type="text" class="inpName form-control mx-2 inpVal" name="name" value="" placeholder="Search by Brand  name" />
        <a hidden asp-controller="Brand" data-status="@ViewBag.Status" asp-action="PageChange" class="SearchBtn">content</a>
    </div>
    <div class="col-lg-3 text-gray-800 ">
        <label>Select by  Delete status</label>
        <select class="form-control Status StatusChange" name="status">
            <option selected>All</option>
            <option value="false">Active</option>
            <option value="true">Deleted</option>
        </select>
    </div>
</div>
<div class="row  box-list BrandTable  TableList">
    @await Html.PartialAsync("_BrandIndexPartial", Model)
</div>

@section Script{
    <script src="~/admin/assets/dist/js/sweetalert2.all.min.js"></script>
    <script src="~/admin/assets/dist/js/Custom.js" asp-append-version="true"></script>
    <script src="~/admin/assets/dist/js/Pagination.js" asp-append-version="true"></script>
    <script>

    </script>
}

@section Style{
    <link href="~/admin/assets/dist/css/sweetalert2.min.css" rel="stylesheet" />
}






