@model Publisher

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">

           <div class="form-group">
                <label asp-for="PublisherImageFile"></label>
                <input class="form-control" accept="image/*" asp-for="PublisherImageFile" placeholder="Enter MainImage">
                <span class="text-danger" asp-validation-for="PublisherImageFile"></span>
                <div class="col-lg-6">
                    <img style="width:50%" src="~/assets/img/blog/@Model.PublisherImage" alt="Alternate Text" />
                </div>
            </div>



            <div class="form-group">
                <label asp-for="PublisherName"></label>
                <input class="form-control" asp-for="PublisherName" placeholder="Enter Title">
                <span class="text-danger" asp-validation-for="PublisherName"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherPosition"></label>
                <input class="form-control" asp-for="PublisherPosition" placeholder="Enter Price">
                <span class="text-danger" asp-validation-for="PublisherPosition"></span>
            </div>


       
              

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
