@model ServiceOffer

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" placeholder="Enter Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input class="form-control" asp-for="Description" placeholder="Enter Price">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input class="form-control" accept="image/*" asp-for="ImageFile" placeholder="Enter MainImage">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
                <div class="col-lg-6">
                    <img style="width:50%" src="~/assets/img/banner/@Model.Image" alt="Alternate Text" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
