@model Setting
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-6 h3 mb-4 text-gray-800">
        <h1>Setting Update</h1>
    </div>
    <div class="col-lg-6">
        <img style="width:50%" src="~/assets/img/logo/@Model.Logo" alt="Alternate Text" />
    </div>
    <div class="col-lg-12 mx-auto">
        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter email">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress"></label>
                <input asp-for="Adress" class="form-control" placeholder="Enter email">
                <span asp-validation-for="Adress"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkHours"></label>
                <input asp-for="WorkHours" class="form-control" placeholder="Enter email">
                <span asp-validation-for="WorkHours"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUsTitle"></label>
                <input asp-for="ContactUsTitle" class="form-control" placeholder="Enter email">
                <span asp-validation-for="ContactUsTitle"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactUsDescription"></label>
                <textarea asp-for="ContactUsDescription" class="form-control" placeholder="Enter email"></textarea>
                <span asp-validation-for="ContactUsDescription"></span>
            </div>

            <div class="form-group">
                <label asp-for="Greeting"></label>
                <textarea asp-for="Greeting" class="form-control" placeholder="Enter email"></textarea>
                <span asp-validation-for="Greeting"></span>
            </div>


            <div class="form-group">
                <label asp-for="LogoFile"></label>
                <input class="form-control" accept="image/*" asp-for="LogoFile" placeholder="Enter ProductImagesFile">
                <span class="text-danger" asp-validation-for="LogoFile"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Script{
<partial name="_ValidationFormScriptPartial">
    <script>
        CKEDITOR.replace('Greeting');
    </script>
    <script>
        CKEDITOR.replace('ContactUsDescription');
    </script>
    }
