@model LoginVM
<form  method="post">
    <div class="single-input-item">
        <input asp-for="Email" placeholder="Email or Username" required />
    </div>
    <div class="single-input-item">
        <input asp-for="Password" placeholder="Enter your Password" required />
    </div>
    <div class="single-input-item">
        <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
            <div class="remember-meta">
                <div class="custom-control custom-checkbox">
                    <input  type="checkbox" asp-for="RememberMe" class="custom-control-input" >
                    <label  class="custom-control-label"  asp-for="RememberMe">Remember Me</label>
                </div>
            </div>
            <a href="#" class="forget-pwd">Forget Password?</a>
        </div>
    </div>
    <div class="single-input-item">
        <button class="btn">Login</button>
    </div>
</form>