@model IEnumerable<Product>   
      
                        <!-- product single item start -->
                        @foreach (Product product in Model)
                        {
                            <div class="product-item mb-50">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="~/assets/img/product/@product.MainImage" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-name">
                                        <a asp-controller="product" asp-action="index">@product.Name</a>
                                    </h5>
                                    <div class="price-box">

                                        @if (product.DiscountPrice > 0)
                                        {
                                            <span class="price-regular">€@product.DiscountPrice.ToString("0.00")</span>
                                            <span class="price-old">€<del>@product.SalePrice.ToString("0.00")</del></span>
                                        }
                                        else
                                        {
                                            <span class="price-regular"><del>€@product.SalePrice.ToString("0.00")</del></span>
                                        }
                                      
                                    </div>
                                    <div class="product-action-link">
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                        <a asp-controller="product" asp-action="DetailModal" asp-route-id="@product.Id" class="productdetail" data-toggle="modal" data-target="#quick_view">
                                            <span data-toggle="tooltip"
                                              title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

